*{
    padding: 0;
    margin: 0;
    border-width: 0px;
}



.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    height:500px;
    width:500px;
    margin: 0;
    padding: 0;
    
}

h1{
    text-align: center;
}

.cell{
    border:1px solid indianred;
    /* padding:1px; */
    height:50px;
    width:50px;
    text-align: center;
    background-color:gold;
    font-size: large;
}

.cell:nth-of-type(3n){
    border-right: 3px solid black;
    
}

.cell:nth-of-type(19){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(20){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(21){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(22){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(23){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(24){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(25){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(26){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(27){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(46){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(47){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(48){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(49){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(50){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(51){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(52){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(53){
    border-bottom: 3px solid black;
}

.cell:nth-of-type(54){
    border-bottom: 3px solid black;
}


.sudoku-grid{
    border:3px solid black;
}

.sudoku-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrong-cell{
    border:1px solid black;
    padding:1px;
    height:50px;
    width:50px;
    text-align: center;
    background-color:red;
    font-size: large;
}

button{
    padding:5px;
    background-color:orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    margin: 5px;
    border-radius: 5px;


}

.sudoku-container .button-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}